dns-resolver:
  config:
    server:
{% set dns_entries = parse_dns_vars.split(',') %}
{% for dns_entry in dns_entries %}
      - {{ dns_entry }}
{% endfor %}
interfaces:
- name: {{ interface_name }}
  ipv4:
    address:
    - ip: {{ static_ipv4_address }}
      prefix-length: {{ static_ipv4_prefix }}
    dhcp: false
    enabled: true
  state: up
  type: ethernet
routes:
  config:
  - destination: 0.0.0.0/0
    next-hop-address: {{ static_ipv4_gateway }}
    next-hop-interface: {{ interface_name }}
    table-id: 254